@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.ant-layout-header {
  background-color: rgba(255, 255, 255, 0.2);
}

.App-header {
  background-color: #880000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-container {
  border: 1px solid #333;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 20px;
  overflow: hidden;
}

.icon-image {
  position: absolute;
  width: 150%;
  height: auto;
  left: -50%;
}

.card-body {
  overflow: hidden;
  padding-left: 100px;
}